body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4ffc8;
    font-family: Arial, sans-serif;
    text-align: center;
  }
  
.form-container {
    width: 100%;
    max-width: 450px;
    padding: 25px;
    background-color: #f7ffee;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    align-items: center;
    display: flex;
    flex-direction: column;
  }

form {
    width: 100%;
}

.form-display input, .form-display textarea, .form-display select {
    text-align: center;
    width: 100%;
    padding: 10px;
    border: 2px solid #d3f197;
    border-radius: 15px;
    box-sizing: border-box;
    margin-bottom: 10px;
    box-shadow:0 2px 4px #a0cc49;

}

.form-display label {
    width: 100%;
}

label {
    font-family: Georgia, 'Times New Roman', Times, serif;
 }

.form-display button {
    text-align: center;
    width: 100%;
    height: 5vh;
    padding: 10px;
    border: 2px solid #d3f197;
    background-color: #d3f197;
    border-radius: 15px;
    box-sizing: border-box;
}

input:focus, select:focus {
    outline: none;
    background-color: #f4ffc8;
}

input:hover {
    background-color: #f4ffc8;
}

button:active {
    background-color: #a0cc49;
    cursor: pointer;
}

button:hover {
    background-color: #a0cc49;
    cursor: pointer;
}
