body{
    background-image: linear-gradient(to left, rgb(0, 195, 255) , rgb(240, 231, 240));
  }
  
  p2{
    text-align: left;
    color: black;
    font-size: 30px;
    text-shadow: 2px 2px 4px gray;
  }

 a{
    text-align: left;
    color: black;
    font-size: 30px;
    text-shadow: 2px 2px 4px rgb(169, 224, 236);
  }


.w3-sidebar {
  width: 400px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  transition: 1s;
  padding-top: 43px;
}

.w2-sidebar {
  width: 400px;
  height: 100%;
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  transition: 0.5s;
  padding-top: 96px;
}

.w1-sidebar {
  width: 400px;
  height: 100%;
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  transition: 0.5s;
  padding-top: 144px;
}
