/* body {
	font-family: Arial, sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
} */
.buttons {
	margin: 10%;
	text-align: center;
}
.button {
	width: 200px;
	font-size: 20px;
	font-weight: 800;
	color: #ffffffc4;
	margin: 20px;
	height: 55px;
	text-align: center;
	border-color: #d61da5;
	border-radius: 50px;
	background-size: 300% 100%;
	background-image: radial-gradient(circle, #811967 0%, #dd1684 100%);
	box-shadow: 0 4px 15px 0 #6a0750;
}
.button:hover {
	background-position: 100% 0;
}
.button:active {
	box-shadow: 0 5px #666;
	transform: translateY(4px);
}

.inputs {
	margin: 6%;
	text-align: left;
}
.input {
	width: 20%;
	height: auto;
	padding: 12px 20px;
	border-color: #d61da5;
	border-radius: 50px;
	background-size: 300% 100%;
	background-image: radial-gradient(circle, #811967 0%, #dd1684 100%);
	box-shadow: 0 4px 15px 0 #6a0750;
	font-size: 20px;
	font-weight: 800;
	color: #ffffffc4;
}
.input:hover {
	background-position: 100% 0;
}
a {
	text-decoration: none;
}
