/* body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
} */

.button {
	width: 200px;
	height: 55px;
	margin: 20px;
	font-size: 20px;
	font-weight: 800;
	color: #ffffffc4;
	text-align: center;
	border-color: #d61da5;
	border-radius: 50px;
	background-size: 600px 55px;
	background-image: radial-gradient(circle, #811967 0px, #dd1684 200px);
	box-shadow: 0 4px 15px 0 #6a0750;
}
.button:hover {
	background-position: 200px 0;
}
.button:active {
	box-shadow: 0 5px #666;
	transform: translateY(4px);
}
.input {
	width: 200px;
	height: 55px;
	margin: 12px;
	padding: 12px 20px;
	border-color: #d61da5;
	border-radius: 50px;
	background-size: 600px 55px;
	background-image: radial-gradient(circle, #811967 0px, #dd1684 200px);
	box-shadow: 0 4px 15px 0 #6a0750;
	font-size: 20px;
	font-weight: 800;
	color: #ffffffc4;
}
.input:hover {
	background-position: 200px 0;
}
a {
	text-decoration: none;
}
table,
td,
th {
	border: 1px solid;
}

table {
	width: 100%;
	border-collapse: collapse;
}

.error {
	color: red;
	display: block;
	font-size: 20px;
}

.input-error {
	border: 2px solid red;
}
